body{
    background: url("../images/sfondo1.jpg");
    color:black;
    width:85%;
    margin: 0px auto;


}
#ListaSpecie{
    padding-top: 10%;
    
    
}

#container{
    display : inline-block;
    width:100%;
    margin: 0px auto;

}

#header{
    
	height:200px;
}
#header p{
      
}

#nav{
         border-top:2px solid green;
         border-bottom:2px solid green;
         height:50px;
}

#nav ul li:hover ul { display: block; }

table{
    
}
#nav li {
	float: left;
}

#nav li a {
	//display: block;
	padding: 0 30px 0 30px;
                font-family: Arial;
                color: green;
                 font-weight:bold;
                 
}



#main{
    width: 74%;
    float:left;
    border-right:2px solid green;    
    
}


#aside{
    float:right;
    width: 25%;
    
    
}
#aside form{
	//margin: 20px;
	//margin-bottom:40px;
	
}
#aside input[type="submit"]{
	
}

#aside fieldset {
	width:200px;


	 
}

#sub{
    border-top:2px solid green;
    width:100%;
    
    
    
}

/*#sub2{
border-right:2px solid green;
position:absolute;
top:0px;


}*/



fieldset{
      //margin:50px;
      border-color:transparent; 
}

#header h1{
	padding-left:100px;
	font-size:50px;
}
.profilo{
    position: absolute;
    left:80%;
}
.profilo li {
	//display: block;
	
	//display: block;
	left:50%;
	text-decoration: none;
	font-size: 12px;
	text-transform: none;
	border-right: 1px solid #fff;
        position: absolute;
        
}


.home{
  
}
#logo img{
       
      position: absolute;
       height:170px;
}

#angolo img{
    bottom:0;
    left:0;
    position:fixed;
   
    height:40%;
}


 h1{
    font-family:Broadway;
    color: green;
 }

 #header h2{
    text-align: center;
     margin:0px auto;
    font-size: 22px;
    font-style: oblique;
 }
 
 
h2{font-family: Brush Script MT;
       color:green;
     font-size:40px;  
       
}

#main h2{
    text-align: center;
    border-botom: 2px solid green;
    
}

p{
        font-family: Arial;
        font-weight: bold;
        font-style: Italic;
        color: green;
        size:8%;
        line-height: 25px;
        text-align:justify;
}

#ElencoPianteLettera{
    width: 96%;
    margin:2%;
    border: 5px dotted green;
    border-radius: 16px;
    text-align: center;
    

}

#ElencoPianteLettera a{
    font-family: Arial Rounded MT Bold;;
    padding:7px;
    font-size: 14px;
    
            
}
/**classe dell'immagine delle piante**/


.dettagli{
	padding:5%;
	float:left;
        width: 40%;


}
.dettagli img {
	margin:20px;
	margin-top:5px;
	float:left;
	width:100px;
}

.Specie  h1{
	padding-left:40px;
	font-size:46px;
    font-family: Monotype Corsiva; 	
	


}


.Specie p{
 margin:20px;
font-family: Monotype Corsiva; 
}


.Specie label{
                margin:70px;
                font-size:20px;
	color:black;
	text-transform: uppercase;
}





label {
	color:green;
        font-family: Arial Rounded MT Bold;
        font-size: 20px;        
}
#ClienteGiardiniere{
    float:left;
    width:49%;
    text-align: center;
}

#InfoPersonali{
    float:left;
    width:49%;
    text-align: center;
}
#Acquisti{
    float:right;
    width:49%;
    text-align: center;
}
#Acquisti table{
    margin-right: 10px;
}

#ClienteGiardiniere table{
    margin-left: 10px;
}
#InfoPersonali p{
    border: 1px solid green;
}
a:hover{
    text-decoration: underline;
}
table{
    margin:0px auto;
    margin-bottom: 20px;
	font-family: Arial Rounded MT Bold;
color: green;
border: 1px solid #2d8c1f;
text-align: center;
}
th{
    font-size:20px;
}
td{
    
}
tr{
    border-bottom: 2px solid green;
}

a{
	font-family:Berlin Sans FB;
                color:green;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;

}





input[type="submit"]{
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  font-weight: Bold;
  color: #37854c;
  font-size: 13px;
  background: #f2ead7;
  padding: 5px 6px 5px 6px;
  border: solid #2d8c1f 1px;
  text-decoration: none;
}

input[type="submit"]:hover {
       text-decoration: none;
	
}

input[name="logout"]{
 
}



tr{
	border: 1px solid

}
td,th {

	width: 135px;
	height: 60px;
	font-size: 14px;
}





	


/* Codice per i sottomen� */



ul {

	list-style: none;
}	

ul li ul {
	list-style: none;
	position: absolute;
	display: none;
}

ol {
margin-left: 40px;
}

ul li a.extend {
	//display: block;
	padding: 0 30px 0 30px;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	border-right: 1px solid #fff;
}

li fieldset {
 background:#f2ead7;
 border-radius: 20px;

}
#Home img{
    margin: 20px;
    
    
}



fieldset input {
margin:5px;
}


#foot{
    float:right;
       width: 100%;
    
}
#sub{
    color:green;
    float:right;
    border-top:2px solid green;
    width:100%;
    text-align: center;
}

