body{
    background: url("../images/sfondo1.jpg");
    color:black;
    width:90%;
    margin: 0px auto;


}

#container{
    display : inline-block;
    width:100%;
    margin: 0px auto;

}

#header{
	height:122px;
}

#nav{
         border-top:2px solid green;
         border-bottom:2px solid green;
         height:50px;
}
  
#sub{
    border-top:2px solid green;
    width:100%;
    
    
    
}

/*#sub2{
border-right:2px solid green;
position:absolute;
top:0px;


}*/



fieldset{
      margin:50px;
      border-color:transparent; 
}

#header h1{
	padding-left:100px;
	font-size:50px;
}
#logo img{
       position:absolute;
       top:0px;
       left:580px;
       width:280px;
}
#angolo img{
    float:left;
    position:absolute;
    bottom:0%;
    width:7%;
}


 h1{
    font-family:Broadway;
    color: green;
 }

   h2{font-family: Brush Script MT;
       color:green;
       position:absolute;
       top:75px; left:400px;
       font-size:25px;
}


p{
        font-family: Arial;
        font-weight: bold;
        font-style: Italic;
        color: green;
size:8%;
}




/**classe dell'immagine delle piante**/


.dettagli{

	padding:20px;
	float:left;


}
.dettagli img {
	margin:20px;
	margin-top:5px;
	float:left;
	width:100px;
}

.Specie  h1{
	padding-left:40px;
	font-size:46px;
font-family: Monotype Corsiva; 	
	


}

.Specie p{
 margin:20px;
font-family: Monotype Corsiva; 
}

.Specie label{
                margin:70px;
                font-size:20px;
	color:black;
	text-transform: uppercase;
}


*select{
	width:50px;
	border:2px solid #4dff12

}

label {
	color:green;
                font-family: Arial Rounded MT Bold;
                
}

table{
	border:2px;
	border-color:#f2ead7;

}

a{
	font-family:Berlin Sans FB;
                color:green;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;

}


#nav li {
	float: left;
}

#nav li a {
	//display: block;
	padding: 0 30px 0 30px;
                font-family: Arial;
                color: green;
                 font-weight:bold;
                 
}

#aside form{
	//margin: 20px;
	//margin-bottom:40px;
	
}
#aside input[type="submit"]{
	
}

#aside fieldset {
	width:200px;


	 
}
.menu{
	-moz-box-shadow:inset -2px 0px 14px -5px #c1ed9c;
	-webkit-box-shadow:inset -2px 0px 14px -5px #c1ed9c;
	box-shadow:inset -2px 0px 14px -5px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	border:3px solid #83c41a;
	//display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:12px 50px;
	text-decoration:none;
	text-shadow:14px 4px 0px #689324;
        
}.menu:hover {
	cursor: pointer;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.menu:active {
	position:relative;
	top:1px;
}


input[type="submit"]{
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  font-weight: Bold;
  color: #37854c;
  font-size: 13px;
  background: #f2ead7;
  padding: 5px 6px 5px 6px;
  border: solid #2d8c1f 1px;
  text-decoration: none;
}

input[type="submit"]:hover {
       text-decoration: none;
	
}

input[name="logout"]{
 
}



tr{
	border: 1px solid

}
td,th {

	width: 135px;
	height: 60px;
	font-size: 14px;
}

/* Codice per il men� principale */



	


/* Codice per i sottomen� */


#nav ul li:hover ul { display: block; }
ul {

	list-style: none;
}	

ul li ul {
	list-style: none;
	position: absolute;
	display: none;
}

ol {
margin-left: 40px;
}

ul li a.extend {
	//display: block;
	padding: 0 30px 0 30px;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	border-right: 1px solid #fff;
}

li fieldset {
 background:#f2ead7;

}

fieldset input {
margin:5px;
}